.gradle
build
.vscode
.idea

aws-service/bin/
java-service/bin/
service-crypto/bin/
service-implementation/bin/
service-interfaces/bin/

aws-deploy.properties
.gradle-cache-*
**/.classpath
**/.project
**/.settings